<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="nav-wrapper">
        <div class="nav-logo">
          <a href="/">Cat Collectors</a>
        </div>
        <div class="nav-bar">
          <a href="/toys/addToy"> Add a toy</a>
          <a href="/toys/index"> View All Toys</a>
          <a href="/catCollectors/addCat"> Add a Cat</a>
          <a href="/catCollectors/indexCats">View All Cats</a>
        </div>
      </div>
    </header>
    <main class="container">
      <h1>Add Cat</h1>
      <form action="/catCollectors/showCat" method="POST" autocomplete="off">
        <table>
          <tbody>
            <tr>
              <th>Name:</th>
              <td>
                <input type="number" name="id" hidden />
                <input type="text" name="name" required />
              </td>
            </tr>
            <tr>
              <th>Breed:</th>
              <td>
                <input type="text" name="breed" />
              </td>
            </tr>
            <tr>
              <th>Description:</th>
              <td>
                <input type="text" name="description" />
              </td>
            </tr>
            <tr>
              <th>Age:</th>
              <td>
                <input type="number" name="age" />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit">Save Cat</button>
      </form>
    </main>
  </body>
</html>
