<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% toy.forEach(function(t){ %>
      <li>
        <form
          action="/toyCollectors/<%= t.id %>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button type="submit">X</button>
        </form>
        <a href="/toyCollectors/<%= t.id %>"> <%= t.name %> </a>
        <form
          class="update-form"
          action="/toyCollectors/<%= t.id %>/edit"
          method="GET"
        >
          <button type="submit">Update Toy</button>
        </form>
      </li>
      <% }); %>
    </ul>
    <a href="/toyCollectors/new">Add Toy</a>
  </body>
</html>
