<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="nav-wrapper">
        <div class="nav-logo">
          <a href="/">Cat Collectors</a>
        </div>
        <div class="nav-bar">
          <a href="/toyCollectors/addToy"> Add a toy</a>
          <a href="/toyCollectors/index"> View All Toys</a>
          <a href="/catCollectors/addCat"> Add a Cat</a>
          <a href="/catCollectors/indexCats">View All Cats</a>
        </div>
      </div>
    </header>
    <main class="container">
      <h1>Toy Details</h1>
      <div class="row">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%= toy.name%></span>
            <p>Color:</p>
          </div>
            <a href="/toyCollectors/showToy/<%=toy.id%>/editToy"> Edit</a>
            |
            <form
              action="/toyCollectors/showToy/<%=toy.id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
